# Build system and IDE files
build/
.vscode/
.idea/
.project
.settings/
local.properties
/build-ios*/
/build-maccatalyst/
/ipa-package/
*.ipa

# OS junk
**/.DS_Store

# Sensitive or key material
armsx2_release.jks
armsx2_keystore.properties
app/src/main/assets/discord_creds.env

# Temporary/log/output files
log.txt

# Third-party (vendored) native or generated sources
app/src/main/cpp/3rdparty/rcheevos/.build
app/src/main/cpp/3rdparty/discord_social_sdk/cdiscord.h
app/src/main/cpp/3rdparty/discord_social_sdk/discordpp.h

# External libs
app/libs/discord_partner_sdk.aar
macos
